<div class= "container">
<% if @user.name == nil %>
<h2>ユーザー名不明の詳細画面</h2>
<% else %>
<h2><%= @user.name %>の詳細画面</h2>
<% end %>
<br>
<h3>フォローユーザー</h3>
<% @user.followed_users.each do |user| %>
 <%= render 'follow_follower_form',user: user %>
<% end %>
<br>
<br>
<br>
<br>
<h3><div class="follower">フォロワーユーザー</div></h3>
<% @user.followers.each do |user| %>
 <%= render 'follow_follower_form',user: user %>
<% end %>
</div>
